[user]
	name = Ameer Taweel
	email = ameertaweel2002@gmail.com
[core]
	autocrlf = input
	editor = vim
	excludesFile = ~/.global-gitignore
[github]
	user = ameertaweel2002@gmail.com
[init]
	defaultBranch = master
